<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ConnStr" value="server=EHZQSNIIBCHZXM3;database=Storehouse;uid=sa;pwd=198296;Max Pool Size=20000;"/>-->
    <add key="ConnStr" value="server=192.168.223.149;database=Storehouse;uid=MESGGPT;pwd=Mes#2020GGPT;Max Pool Size=20000;"/>
    <add key="CompanyName" value="广州XX公司"/>
    <!--调拨单货品是否自动计算平均单价 true:填充 flase:不填充-->
    <add key="IsAutoFillRemovePrice" value="true"/>
    <add key="IsStartAutoUpdate" value="false"/>
    <add key="Ver" value="1.0.3"/>
    <add key="ServerPath" value="\\wanghm\Server$\"/>
    <add key="IsAutoFillBillOutPrice" value="true"/>
 </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
